@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Teko&display=swap');

::-webkit-scrollbar-track {
  background-color: #4f4f4f;
}
::-webkit-scrollbar {
  width: 10px;
  background: #444444;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

* {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: .8em;
}

body {
  background: linear-gradient(#480072, #fc7b02) fixed;
}


li {
  list-style: none;
}

.center {
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

.session-padding {
  padding: 70px 0 70px 0;
}

header {
  background-color: #1111119c;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.social-header {
  display: flex;
  justify-content: space-between;
  width: 160px;
  text-align: center;
  list-style: none;
  font-size: 30px;
}

.social-header li a {
  color: #fff;
  text-decoration: none;
  padding: 8px;
}

#home {
  margin-top: 50px;
  color: #fff;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.img-photo {
  box-shadow: -6px 6px 5px #0a0a0a4b;
  background-color: #2b2b2b;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.home-txt {
  text-shadow: -6px 6px 5px #0a0a0a4b;
  text-align: center;
}

.home-txt h1 {
  font-size: 60px;
}

.home-txt p {
  font-size: 20px;
  margin-bottom: 30px;
}

.button {
  text-decoration: none;
  box-shadow: -7px 7px 5px #0a0a0a4b;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  
}

.button:hover {
  background-color: #fff;
  color:#2b2b2b;
  font-weight: bold;
}

.button:active {
  box-shadow: -2px 2px 4px #0a0a0a4b;
  font-size: 0.9em;
}

#skills {
  width: 100%;
  background-color: #00000093;
  font-size: 150px;
}

#skills div i {
  text-shadow: -6px 6px 5px #0a0a0a4b;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#works {
  text-align: center;
}

#works h1 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: -6px 6px 5px #0a0a0a4b;
  color: #fff
}

.boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  text-decoration: none;
  margin: 30px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: -6px 6px 5px #0a0a0a4b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 250px;
  color: #000;
}

.box:hover {
  box-shadow: -10px 10px 10px #0a0a0a4b;
  -webkit-transform:scale(1.2); /* Safari and Chrome */
  -moz-transform:scale(1.2); /* Firefox */
  -ms-transform:scale(1.2); /* IE 9 */
  -o-transform:scale(1.2); /* Opera */
  transform:scale(1.2);
}

.box img {
  border-radius: 20px;
  height: 200px;
}

.box h2 {
  padding: 8px;
  font-size: 20px;
}

#footer {
  background-color: #2b2b2b;
  padding: 20px;
}

.social-footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  font-size: 30px;
}

.social-footer li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

@media screen {
  @media (max-width: 1000px) {
    .session-padding {
      padding: 40px 0 40px 0;
    }

    .home-container {
      flex-direction: column;
    }

    #skills i {
      font-size: 90px;
    }
  }

  @media (max-width: 720px) {
    .img-photo {
      height: 150px;
      width: 150px;
    }

    .home-txt h1 {
      font-size: 40px;
    }
    
    .home-txt p {
      font-size: 14px;
      margin-bottom: 30px;
    }

    .box {
      margin: 20px;
      width: 200px;
    }
    
    .box h2 {
      font-size: 14px;
    }

    .social-footer {
      font-size: 20px;
    }
  }

  @media (max-width: 460px) {
    #skills i {
      font-size: 60px;
    }
  }
}