@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Teko&display=swap');

* {
  margin: 0;
}

header {
  background-color: #0a0a0a;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  list-style: none;
}

.container {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

.header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.menu {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.menu li {
  list-style: none;
  font-size: 30px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px;
}

#home {
  background-color: #480072;
  color: #fff;
}

.home-txt {
  text-shadow: -2px 2px 4px #0a0a0a8a;
  font-family: 'Overpass', sans-serif;
  text-align: center;
}

.home-txt h1 {
  font-size: 60px;
}

.home-txt h2 {
  font-size: 20px;
}

.img-photo {
  box-shadow: -2px 2px 6px #0a0a0a8a;
  background-color: #2b2b2b;
  border-radius: 50px;
  height: 400px;
  width: 250px;
}

#skills {
  background-color: #2b2b2b;
  font-size: 150px;
}